<div class="row">
    <div class="animate__animated animate__fadeIn col-sm-6 pt-3">
        <div class="card">
            <img class="card-img-top" src="assets/img/DevPM.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="animate__animated animate__fadeIn col-sm-6 pt-3">
        <div class="card">
            <img class="card-img-top" src="assets/img/DevPM.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
</div>