<div class="alert mt-4 text-black" role="alert">
    <h2>Servicios</h2>
</div>
<div class="accordion mt-3" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Desarrollo web app
          </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                El tiempo debe ser un aliado en nuestras rutinas diarias, para ello será importante entender como administras tu tiempo, para brindarte una herramienta integral, que facilite el tratamiento de la información que manejas de una forma ágil y sencilla, partiremos
                de tu <strong>tarjeta de presentación en internet</strong> (página web), desarrollando una aplicación escalable a tus necesidades. Podrián ser desde un simple web auto administrable hasta un CRM integral.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Digitalización y Marketing 
          </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                LLeva a tu empresa al siguiente nivel, al punto donde ya deberías estar, nos referimos a las RRSS ( instagram, youtube, facebook...), hablamos de conversión y números; de la visibilidad que tu propuesta necesita. Partimos de la confección de las distintas
                cuentas que necesitaras en función de tu target, el cual estará muy bien definido. <br> Invertiremos todo lo necesario para que los resultados sean palpables, para ello es necesario realizar un diagnostico y establecer
                los hitos que debemos abordar. También es necesario que esto se mantenga en el tiempo, por lo que te facilitaremos los medios para ello. <br> Iremos todavía más lejos, abordaremos el tratamiento de tus clientes, para medir y ofrecer la
                mejor atención, esa que garantiza la fidelidad y genera las recomendaciones. <br> En pocas palabras crearemos una metodoligia que te permita ahorrar tu recurso más valioso <strong>(el tiempo)</strong>. </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Base de datos
          </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
<div class="alert mt-4 text-black" role="alert">
    <h2>Portafolio</h2>
</div>
<div class="row">
    <div class="animate__animated animate__fadeIn col-sm-6 pt-3">
        <div class="card">
            <img class="card-img-top" src="assets/img/DevPM.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="animate__animated animate__fadeIn col-sm-6 pt-3">
        <div class="card">
            <img class="card-img-top" src="assets/img/DevPM.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
</div>